<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\IVT_Backend\IVTBackendVenv\Scripts\python.exe|C:\IVT_Backend\IVTBackendVenv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="?" />
            </authorization>
        </security>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
